---
import Layout from "../../layouts/Layout.astro"
import projects from "../../services/data"

export const prerender = false // server

const { id } = Astro.params

let project

if(id) {
    const idAsNumber = parseInt(id, 10)
    project = projects.find(project => project.id === idAsNumber)
}

export async function getStaticPaths() {
    // Call external API to know all ID's that you need
    // Best solution when we know the number of elements (finite number) to process (10, 20, 50, hundres)

    return projects.map((project) => ({
        params: { id: project.id }
    }))
}

console.log(id)
---

<Layout title={`Launch ${id}`}>
    <article class="flex gap-y-4 flex-col">
        <img 
            class="w-52 h-auto"
            src={project?.image} 
            alt={project?.projectName}
        >
        <h2 class="text-4xl text-white font-bold">
            Proyecto #{project?.projectName}
        </h2>
        <p class="text-lg text-white">
            {project?.details}
        </p>
    </article>
</Layout>